In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
dataset= pd.read_csv('dataset1.csv')

In [ ]:
dataset.isnull().sum()

Unnamed: 0                0
datetime                  0
cough_detected            0
latitude                 10
longitude                10
age                      12
gender                   10
respiratory_condition    10
fever_muscle_pain        10
status                   10
expert_labels_3          21
dtype: int64

In [ ]:
dataset[dataset.fever_muscle_pain.isnull()]

    Unnamed: 0                          datetime  ...  status  expert_labels_3
3            3  2020-04-15T01:03:59.029326+00:00  ...     NaN              NaN
5            5  2020-04-17T15:24:35.822355+00:00  ...     NaN              NaN
7            7  2020-05-15T08:50:59.481638+00:00  ...     NaN              NaN
12          12  2020-04-13T19:51:11.397697+00:00  ...     NaN              NaN
13          13  2020-07-24T07:16:32.981624+00:00  ...     NaN              NaN
14          14  2020-04-24T17:49:59.357899+00:00  ...     NaN              NaN
16          16  2020-04-11T17:00:58.737255+00:00  ...     NaN              NaN
18          18  2020-04-11T03:20:02.110170+00:00  ...     NaN              NaN
19          19  2020-04-11T08:25:44.152811+00:00  ...     NaN              NaN
20          20  2020-04-10T00:08:22.055416+00:00  ...     NaN              NaN

[10 rows x 11 columns]

In [ ]:
updt=dataset.drop('expert_labels_3', inplace=True, axis=1)

In [ ]:
updt=dataset.drop('datetime', inplace=True, axis=1)

In [ ]:
updt=dataset.dropna(subset=['gender','respiratory_condition','fever_muscle_pain'],how='all')

In [ ]:
updt

    Unnamed: 0  cough_detected  ...  fever_muscle_pain       status
0            0          0.9609  ...              False      healthy
1            1          0.9609  ...              False      healthy
2            2          0.9301  ...              False      healthy
4            4          0.9968  ...              False      healthy
6            6          0.0306  ...               True     COVID-19
8            8          0.8937  ...              False      healthy
9            9          0.9883  ...              False      healthy
10          10          0.9456  ...              False  symptomatic
11          11          0.9959  ...              False      healthy
15          15          0.0576  ...              False     COVID-19
17          17          0.8109  ...              False      healthy

[11 rows x 9 columns]

In [ ]:
updt['fever_muscle_pain']

0     False
1     False
2     False
4     False
6      True
8     False
9     False
10    False
11    False
15    False
17    False
Name: fever_muscle_pain, dtype: object

In [ ]:
from sklearn import preprocessing
levelencoder= preprocessing.LabelEncoder()
updt['fever_muscle_pain']= levelencoder.fit_transform(updt['fever_muscle_pain'])
updt['respiratory_condition']= levelencoder.fit_transform(updt['respiratory_condition'])
updt['status']= levelencoder.fit_transform(updt['status'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
updt

    Unnamed: 0  cough_detected  ...  fever_muscle_pain  status
0            0          0.9609  ...                  0       1
1            1          0.9609  ...                  0       1
2            2          0.9301  ...                  0       1
4            4          0.9968  ...                  0       1
6            6          0.0306  ...                  1       0
8            8          0.8937  ...                  0       1
9            9          0.9883  ...                  0       1
10          10          0.9456  ...                  0       2
11          11          0.9959  ...                  0       1
15          15          0.0576  ...                  0       0
17          17          0.8109  ...                  0       1

[11 rows x 9 columns]

In [ ]:
X = updt.iloc[:, 1:-1].values
y = updt.iloc[:, -1].values

In [ ]:
X

array([[0.9609, 31.3, 34.8, 15.0, 'male', 0, 0],
       [0.9609, 31.3, 34.8, 15.0, 'male', 0, 0],
       [0.9301, 40.0, -75.1, 34.0, 'male', 1, 0],
       [0.9968, nan, nan, 21.0, 'male', 0, 0],
       [0.0306, 13.8, -89.6, nan, 'female', 0, 1],
       [0.8937, nan, nan, 28.0, 'female', 0, 0],
       [0.9883, 39.4, 67.2, 15.0, 'male', 0, 0],
       [0.9456, nan, nan, 35.0, 'male', 1, 0],
       [0.9959, nan, nan, 46.0, 'female', 0, 0],
       [0.0576, 46.8, 6.6, nan, 'male', 1, 0],
       [0.8109, 41.1, 28.8, 39.0, 'other', 0, 0]], dtype=object)

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:4])
X[:, 1:4] = imputer.transform(X[:, 1:4])

In [ ]:
X

array([[0.9609, 31.3, 34.8, 15.0, 'male', 0, 0],
       [0.9609, 31.3, 34.8, 15.0, 'male', 0, 0],
       [0.9301, 40.0, -75.1, 34.0, 'male', 1, 0],
       [0.9968, 34.81428571428572, 1.071428571428573, 21.0, 'male', 0, 0],
       [0.0306, 13.8, -89.6, 27.555555555555557, 'female', 0, 1],
       [0.8937, 34.81428571428572, 1.071428571428573, 28.0, 'female', 0,
        0],
       [0.9883, 39.4, 67.2, 15.0, 'male', 0, 0],
       [0.9456, 34.81428571428572, 1.071428571428573, 35.0, 'male', 1, 0],
       [0.9959, 34.81428571428572, 1.071428571428573, 46.0, 'female', 0,
        0],
       [0.0576, 46.8, 6.6, 27.555555555555557, 'male', 1, 0],
       [0.8109, 41.1, 28.8, 39.0, 'other', 0, 0]], dtype=object)

In [ ]:
y

array([1, 1, 1, 1, 0, 1, 1, 2, 1, 0, 1])

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
ct = make_column_transformer((OneHotEncoder(), [4]), remainder='passthrough')
ct.fit_transform(X)

array([[0.0, 1.0, 0.0, 0.9609, 31.3, 34.8, 15.0, 0, 0],
       [0.0, 1.0, 0.0, 0.9609, 31.3, 34.8, 15.0, 0, 0],
       [0.0, 1.0, 0.0, 0.9301, 40.0, -75.1, 34.0, 1, 0],
       [0.0, 1.0, 0.0, 0.9968, 34.81428571428572, 1.071428571428573,
        21.0, 0, 0],
       [1.0, 0.0, 0.0, 0.0306, 13.8, -89.6, 27.555555555555557, 0, 1],
       [1.0, 0.0, 0.0, 0.8937, 34.81428571428572, 1.071428571428573,
        28.0, 0, 0],
       [0.0, 1.0, 0.0, 0.9883, 39.4, 67.2, 15.0, 0, 0],
       [0.0, 1.0, 0.0, 0.9456, 34.81428571428572, 1.071428571428573,
        35.0, 1, 0],
       [1.0, 0.0, 0.0, 0.9959, 34.81428571428572, 1.071428571428573,
        46.0, 0, 0],
       [0.0, 1.0, 0.0, 0.0576, 46.8, 6.6, 27.555555555555557, 1, 0],
       [0.0, 0.0, 1.0, 0.8109, 41.1, 28.8, 39.0, 0, 0]], dtype=object)

In [ ]:
#yt = make_column_transformer((OneHotEncoder(), [0]), remainder='passthrough')
#y=yt.fit_transform(y)

In [ ]:
updt['cough_detected']

0     0.9609
1     0.9609
2     0.9301
4     0.9968
6     0.0306
8     0.8937
9     0.9883
10    0.9456
11    0.9959
15    0.0576
17    0.8109
Name: cough_detected, dtype: float64

In [ ]:
y

array([1, 1, 1, 1, 0, 1, 1, 2, 1, 0, 1])